html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  height: 100%;
  overflow: hidden;
}

#timerBox {
  text-align: center;
  top: 30%;
  position: fixed;
  width: 100%;
  height: 100%;
}

div.timerNum {
  display: inline-block;
  font-size: 1000%;
  min-width: 20%;
  min-height: 250px;
  line-height: 250px;
  background-color: rgba(255, 255, 255, 0.1);
}

div.timerNum span.label {
  display: block;
  font-size: 10%;
  position: absolute;
  color: #6f3617;
  line-height: 20px;
}

#deadline {
  margin-top: 3em;
}

/*********************************/

html, body {
 background-color: #7E8DCF;
}

.bg {
  position: absolute;
}

.bg.largeHill {
  background-image: url('images/background/hill2.gif');
  width: 160px;
  height: 70px
}

.bg.smallHill {
  background-image: url('images/background/hill1.gif');
  width: 96px;
  height: 38px
}

.bg.bush1 {
  background-image: url('images/background/bush1.gif');
  width: 64px;
  height: 32px
}

.bg.bush2 {
  background-image: url('images/background/bush2.gif');
  width: 96px;
  height: 32px
}

.bg.bush3 {
  background-image: url('images/background/bush3.gif');
  width: 128px;
  height: 32px
}

.bg.cloud1 {
  background-image: url('images/background/cloud1.gif');
  width: 64px;
  height: 48px
}

.bg.cloud2 {
  background-image: url('images/background/cloud2.gif');
  width: 96px;
  height: 48px
}

.bg.cloud3 {
  background-image: url('images/background/cloud3.gif');
  width: 128px;
  height: 48px
}

#player {
  position: absolute;
  background-repeat: no-repeat;
}
#player .playerHead{
 position: absolute;
 width: 26px;
 height: 2px;
 top: -2px;
}
#player .playerFoot{
 position: absolute;
 width: 26px;
 height: 2px;
 bottom: -2px;
}

.enemy {
  position: absolute;
}

.enemy .weakness {
  position: absolute;
  top: -5px;
  width: 32px;
  height: 5px;
}

.block {
  position: absolute;
  width: 32px;
  height: 32px;
}

.floor1 {
  background-image: url(images/tiles/floor1.png);
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
}

.platform.box {
  background-image: url(images/tiles/box.png);
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
}

.pipe {
  background-image: url(images/tiles/pipe.gif);
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 64;
}

.effect {
  position: absolute;
}

.effect.coin {
  background-image: url(images/tiles/coin.gif);
  width: 16px;
  height: 28px
}

.effect.brokenBrick {
  position: absolute;
  background-image: url(images/tiles/broken_brick.png);
  width: 16px;
  height: 16px;
}

.effect.brokenBrick.topLeft {
  background-position: 0 0;
}
.effect.brokenBrick.topRight {
  background-position: 17px 0;
}
.effect.brokenBrick.bottomLeft {
  background-position: 0 17px;
}
.effect.brokenBrick.bottomRight {
  background-position: 17px 17px;
}

.element {
  position: absolute;
}

#endFlag {
    left: 6400px;
    bottom: 96px;
    width: 32px;
    height: 320px;
    position: absolute;
}

#endFlag .pole {
    background-color: #A6D79F;
    width: 5px;
    height: 288px;
    margin-left: 14px;
    margin-top: 32px;
}

#endFlag .top {
  top: 0;
  height: 32px;
  width: 32px;
  position: absolute;
  background-image: url('images/tiles/pole_tip.png');
}
